.container {
    display: flex;
}

.profile-pic {
    height: 700px;
}

.left-border {
    width: 20%;
}

.profile-info {
    margin-left: 20px;
    position: relative;
}

.options {
    position: absolute;
    bottom: 0;
}
