.container {
    display: flex;
    justify-content: center;
}

.profile-pic {
    height: 700px;
}

.left-border {
    width: 15%;
}

.profile-info {
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    width: 300px;
    font-size: 2em;
}

.options {
    position: absolute;
    bottom: 0;
    display: flex;
}

.profile-buttons {
    background-color: rgb(230, 157, 230);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.profile-buttons-disabled {
    background-color: rgb(230, 157, 230);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.profile-buttons:hover {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.24)
}

.edit-delete-button {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.review1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.review4{
    display: flex;
    margin-top: 5px;
}

.review-form {
    display: inline-flex;
    flex-direction: column;
    font-size: 30px;

}

.character-count {
    font-size: 15px;
}

.review-container {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.review-submit-button {
    position: absolute;
    right: 0;
    background-color: rgb(230, 157, 230);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.enter-review {
    width: 700px;
    height: 50px;
    resize: none;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.review-box {
    border-bottom: 1px dashed black;
    width: 600px;
    padding: 10px;
}

.review-box:last-child {
    border-bottom: none;
}

.rev1 {
    display: flex;
    flex-direction: column;
}

.review-detail {
    font-size: 13px;
}

.review-context {
    display: flex;
    font-size: 20px;
}

.indentation {
    margin-right: 8px;
}

.r2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-delete-button {
    background-color: rgb(230, 157, 230);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
