/* TODO Add site wide styles */
body {
    background-color: rgba(214, 188, 177, 0.473);
    /* background-color: white; */
}

.wrapper {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.splash {
    background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20191009140007-GettyImages-1053962188.jpeg');
    height: 1000px;
    /* z-index: -1; */
}

.quote {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 200px;
    margin-left: 500px;
}

#quote1 {
    font-size: 20px;
    margin: none;
    display:block
}

#quote2 {
    font-size: 20px;
    margin-left: 80px;
}

ul {
    padding: 0px 5px 0px 5px;
}

.photographer-portraits {
    height: 500px;
    /* margin-right: 10px;
    margin-top: 20px; */

}

.individual-pix {
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgb(179, 153, 153);
    /* background-color: rgba(214, 188, 177, 0.473); */
}

.portraits {
    display:flex;
    flex-wrap: wrap;
}

.info {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.become-photographer {
    display: flex;
    justify-content: space-between;
}

.profile-detail {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.delete-modal {
    background-color: white;
}

.confirm-delete {
    display: inline-flex;
    justify-content: center;
}

.formfield {
    font-weight: bold;
    margin-left: 9px;
    margin-bottom: 3px;
}

.formfield-button{
    margin: auto;
}

.areyousure {
    font-size: 25px;
    color:rgb(172, 27, 27);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.areyou {
    margin-bottom: 10px;
}
