.nav-bar {
    display: flex;
    background-color: yellow;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 150%;
    width: 150%
}

.signin-input {
    margin-right: 20px;
    margin-left: 20px;
}

.errorMessage {
    display: flex;
}

.inputbox {
    display:flex;
    flex-direction: column;
}
