.navbar {
    display:flex;
    justify-content: space-between;
    height: 50px;
    width:100%;
    position: fixed;
    z-index: 2;
    background-color: grey;
    top: 0;
    left: 0;
}

.profile-dropdown {
    position: relative;
    z-index: 0;
}

.splash {
    display:flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    top: 50px;
}
.tagline {
    display:block;
    /* justify-content: flex-end; */
    color: white;
    font-style:bold;
    font-size: 100px;
    width: 50%;
    margin-left: 40px;
    margin-top: 60px;
}

.caption1 {
    display: flex;
    margin-left: 60px;
    margin-top: 80px;
}

.caption2 {
    display:flex;
    margin-left: 115px;
}

.style1,
.quote,
.start-button{
    animation: fadeIn linear 30s;
    -webkit-animation: fadeIn linear 5s;
}

  @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.get-started {
    display: flex;
    justify-content: center;
    margin-top: 35px
}
.start-button {
    justify-content: flex-end;
    background-color: rgb(223, 81, 81);
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.homebar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.no-bullet {
    list-style-type: none;
    width: 100%;
}

.home-button {
    font-weight: bold;
    color: rgb(1, 5, 4);
    text-decoration: none;
    font-size: 20px;
    color:white;
    margin-left: 50px;
}

.home-button:hover {
    text-decoration: underline;
}

.login-button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: grey;
    margin-right: 10px;
}

.login-button:hover{
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.24)
}

.become-a-photographer {
    background-color: grey;
    color:white;
    font-weight: bold;
}

.post-photographer {
    background-color: grey;
    color:white;
    text-decoration: none;
}
