.navbar {
    display:flex;
    justify-content: space-between;
    height: 60px;
    width:100%;
    /* background-color: blue; */
}

.profile-dropdown {
    z-index: 1;
}

.splash {
    display:flex;
    justify-content: flex-end;
}
.tagline {
    display:block;
    /* justify-content: flex-end; */
    color: white;
    font-style:bold;
    font-size: 100px;
    width: 50%;
    margin-left: 40px;
    margin-top: 60px;
}

.caption1 {
    display: flex;
    margin-left: 60px;
    margin-top: 80px;
}

.caption2 {
    display:flex;
    margin-left: 115px;
}

.style1,
.quote,
.start-button{
    animation: fadeIn linear 30s;
    -webkit-animation: fadeIn linear 5s;
}

  @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.get-started {
    display: flex;
    justify-content: center;
    margin-top: 35px
}
.start-button {
    justify-content: flex-end;
    background-color: rgb(223, 81, 81);
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.homebar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.no-bullet {
    list-style-type: none;
    width: 100%;
}
